---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


.navbar{
    background-color: #66ACE6 !important;
   color: #fff !important;   
   font-family:'Raleway', sans-serif !important;
}

.navbar-header>a{
  color:#fff !important;
}

.navbar-nav>li>a{
  color:#fff !important;
}

.site-header .wrapper >a{
  color: #fff !important;
}

.site-nav .trigger >a{
  color: #fff !important;

}
.page-heading{
      font-family: 'Raleway', sans-serif !important;

}
footer{
  background: #66ACE6;
   color: #fff !important;   

}

.footer-heading{
    color:#fff !important;

}
.footer-col-wrapper{
  color:#fff;
}

.username{
  color:#def !important;
}

.contact-list>li>a{
  color:#def !important;
}

.icon > svg path{
  fill:#fff !important;
}
.post-link{
    font-family: 'Raleway', sans-serif !important;
}

.post-title{
    font-family: 'Raleway', sans-serif !important;
}



/**
 * Basic styling
 */

 h1, h2, h3, h4 {
  font-family: Raleway, sans-serif !important;
  color:#66ACE6 !important;
}

body {
  font-family: 'Lato', sans-serif !important;
  color: #666;
}

.about-content{
  width:66%;
  display: inline-block;
  padding: 5px 10px;
  font-size: 18px;
}


.profile-wrapper{
  height:100%;
}
.profile-image-container{
  width:30%;
  display: inline-block;
  height: 100%;
}

.profile-image {
  border-radius: 50%;
  width: 80%;
  box-shadow: 5px 2px #efefef;
      vertical-align: middle;
  display: inline-block;
  margin-bottom: 50%;
}

.image-wrapper{
  width: 25%;
  display: inline-block;
  height: 100%;

}

.image-wrapper >img{
  max-height: 128px;
    margin: auto;
    display:block;
  vertical-align:middle;
}
.caption-wrapper {
  width:70%;
  display:inline-block;
  height: 100%;
  margin:auto;
}
@media screen and (max-width: 767px){
.image-wrapper{
  width: 100% !important;
  display: inline-block;
  height:128px;
}

.image-wrapper >img{
  max-height: 128px;
    margin: auto;
    display:block;
  vertical-align:middle;
}
.caption-wrapper {
  width:100% !important;
  display:inline-block;
  margin:auto;
}
}

body{
  background:#eee !important;
}

.page-content .wrapper{
  background:#fff !important;
  border-radius:5px;
  padding:20px;
  color:#999;
}

.tag{

}

.tags-expo-posts>a{
  font-size:20px !important;
}

.site-nav{
  background:#66ACE6;
  display: block;
}

.site-title{
  width:50%;
}

.footer-col-2{
    width: calc(25% - (30px / 2)) !important;
}


.project .thumbnail{
  background: #f6fafd;
  border-radius:10px;    
}

.project{
  height:100%;
  max-width:100%;
}

.project .back .thumbnail{
  background: #f6fafd;
  border-radius:10px;
  font-size:16px;
  min-height:200px;
  /*height:455px;*/
}
.project .back .thumbnail p{
  color: #66ACE6;
}

.project .front .thumbnail .caption{
  word-wrap: break-word;
  overflow-y: auto;
  min-height:200px;
}

.project .project-icon{
  max-width: 97%;
  border-radius: 25%;
  height:150px;
}

.project{
  width:97% !important;
}

.front{
  width:100%;
}
/*.back{
  width:87%;
}*/

.btn-tag{
  background-color:#f6fafd !important;
  color: #66ACE6 !important;
  border-color:#66ACE6 !important;
  padding:3px;
  margin:3px;
}

@media screen and (max-width: 767px) {
  .col-xs-10{
    position: relative;
    left: 8.33%;
  }

  .project .back .thumbnail{
    font-size:20px;
    /*height:455px;*/

  }

}

@media screen and (max-width: 370px) {
  .project .back .thumbnail{
    height:420px;
  }

}
.project .front{
  z-index: 900;
  /*-moz-box-shadow: 0 1px 15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 15px rgba(0,0,0,0.1);
  box-shadow: 0 1px 15px rgba(0,0,0,0.1);*/
  
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  
  -o-transform: rotateX(0deg) rotateY(0deg);
  -o-transform-style: preserve-3d;
  -o-backface-visibility: hidden;
  
  -ms-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform-style: preserve-3d;
  -ms-backface-visibility: hidden;
 
  transform: rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

  display:inline-block;
}

.project.flip .front {

  z-index: 900;
  
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  
  /*-moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  box-shadow: 0 15px 50px rgba(0,0,0,0.2);*/
}

.project .back{
  position: absolute;
  top: 0;
  /*left: 0;*/
  z-index: 800;
  max-width:inherit;
  max-height:inherit;

  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  
  -moz-transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  
  -o-transform: rotateY(-180deg);
  -o-transform-style: preserve-3d;
  -o-backface-visibility: hidden;
  
  -ms-transform: rotateY(-180deg);
  -ms-transform-style: preserve-3d;
  -ms-backface-visibility: hidden;
  
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
 
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.project.flip .back {
  display:block;
  z-index: 1000;
  width:inherit;
  height:inherit;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
  margin-bottom:0;
  
}
